body {
  padding-bottom: 5em;
}

/* Sidebar */
.sidebar {
  position: fixed;
  z-index: 100; 
  padding: 48px 0 0;
  min-width: 250px;
  max-width: 250px;
  background: rgb(41, 41, 43);
  background: rgb(48,62,77);
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  min-height:100%;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link i {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover i,
.sidebar .nav-link.active i {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* Navbar */
.navbar ul li a {
    color: white;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  margin: .30em;
  border-width: 0;
  border-radius: 2;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Main container */
.main-content {
  margin-left: 250px !important;
  margin-top: 4em;
  width: 81% !important;
}

/* Physical view */
.unit-heading {
    padding-top: .2em;
}
  
.card {
    margin-top: .5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.card-text {
    padding: 0em;
    margin: 0em;
    font-size: 0.925em;
}

h5.card-title {
  text-decoration:none !important;
  color: rgb(40,40,40) !important;
}

.lodging-tabs {
    margin-top: 1em;
    margin-bottom: 1em;
}

.logding-details-btn {
    margin-top: 1em;
}

.centered-pills { 
    display: flex;
    justify-content: center;
}

.borderless td, .borderless th {
    border: none !important;
}

/* 
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(41, 41, 43);
    background: rgb(48,62,77);
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    position:fixed;
    min-height:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    margin-left: 250px !important;
    width: 81% !important;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #383838;
    background: rgb(44,56,73);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4e4e4e;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #17a2b8;
    color: rgb(153,160,168);
}
#sidebar ul li a:hover {
    color: rgb(82, 82, 83);
    color: rgb(153,160,168);
    background: #fff;
    background: rgb(156, 202, 253);
    text-decoration: none;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4e4e4e;
    background: rgb(102,152,200);
}
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
} */

/* Guest check-out */
.check-out-form {
    font-size: 0.90em;
}

.form-control {
    font-size: 0.90em;
}
